<!-- src/app/shared/components/data-table/data-table.component.html -->
<div class="table-container">
<p-table [value]="data"  styleClass="p-datatable-striped" >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of cols">
          {{ rowData[col.field] }}
        </td>
        <th>
          <div class="d-flex justify-content-center">
          <p-button (click)="onEdit(rowData)" icon= {{icon1}} [rounded]="true"></p-button>
        </div>
        </th>
        <th>
          <div class="d-flex justify-content-center">
          <p-button  (click)="onDelete(rowData.id)" icon={{icon2}} [rounded]="true" severity="danger"></p-button>
        </div>
        </th>
      </tr>
    </ng-template>
  </p-table>
</div>