/* Center the form and limit margins */
.form-container {
  max-width: 50%;
  margin: 0 auto;
}

/* Add padding and border for better presentation */
.form-container {
  padding: 20px;
  border: 0px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}
.button {
  margin-right: 10px; /* Puedes ajustar este valor según la separación que desees */
}