<!-- Navbar Component -->
<app-navbar2></app-navbar2>

<br>
<br>
<br>

<!-- Main Container -->
<div class="container mt-5">
  <div class="form-container">
    <div>
      <h4 class="form-title">Agregar Nuevo Paquete</h4>
    </div>
    <!-- Form with Angular Reactive Forms -->
    <form [formGroup]="form">
      
      <!-- Description Input Group -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="pi pi-book"></i>
          </span>
          <input type="text" class="form-control" placeholder="Descripción" formControlName="description"/>
        </div>
        <!-- Error Message for Description -->
        <div *ngIf="form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)" class="alert alert-danger mt-2">
          Descripción es requerida.
        </div>
      </div>
      
      <!-- Weight Input Group -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="pi pi-gauge"></i>
          </span>
          <input type="number" class="form-control" placeholder="Peso" formControlName="weight"/>
        </div>
        <!-- Error Message for Weight -->
        <div *ngIf="form.controls['weight'].invalid && (form.controls['weight'].dirty || form.controls['weight'].touched)" class="alert alert-danger mt-2">
          <div *ngIf="form.controls['weight'].errors?.['required']">Peso es requerido.</div>
          <div *ngIf="form.controls['weight'].errors?.['negativeNumber']">El peso no puede ser negativo.</div>
        </div>
      </div>
      
      <!-- Dimensions Input Group -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="pi pi-box"></i>
          </span>
          <input type="text" class="form-control" placeholder="Dimensiones" formControlName="dimensions"/>
        </div>
        <!-- Error Message for Dimensions -->
        <div *ngIf="form.controls['dimensions'].invalid && (form.controls['dimensions'].dirty || form.controls['dimensions'].touched)" class="alert alert-danger mt-2">
          Dimensiones son requeridas.
        </div>
      </div>
      
      <!-- Status Input Group -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="pi pi-wave-pulse"></i>
          </span>
          <input type="text" class="form-control" placeholder="Estado" formControlName="status"/>
        </div>
        <!-- Error Message for Status -->
        <div *ngIf="form.controls['status'].invalid && (form.controls['status'].dirty || form.controls['status'].touched)" class="alert alert-danger mt-2">
          Estado es requerido.
        </div>
      </div>
      
      <!-- Submit Button -->
      <button type="button" class="btn btn-success button" (click)="create()">Agregar</button>
      <button type="button" class="btn btn-danger button" (click)="cancel()">Cancelar</button>
    </form>
  </div>
</div>



<!--
<app-navbar2></app-navbar2>


<br>
<br>
<br>
<br>
<div class="form-container">
<form [formGroup]="form"  >
    
    <div>
      <p-inputGroup  >
        <p-inputGroupAddon>
          <i class="pi pi-book"></i>
        </p-inputGroupAddon>
       
        <input pInputText placeholder="descripcion" formControlName="description"/>
      </p-inputGroup>
    </div>
    <br>
    <div >
        <p-inputGroup >
          <p-inputGroupAddon>
            <i class="pi pi-gauge"></i>
          </p-inputGroupAddon>
          <p-inputNumber   inputId="minmaxfraction" 
          mode="decimal" 
          [minFractionDigits]="2" 
          [maxFractionDigits]="5"   mode="decimal" placeholder="peso" formControlName="weight" />
        </p-inputGroup>
    </div>
    
    <div>
        <p-inputGroup >
          <p-inputGroupAddon>
            <i class="pi pi-box"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="dimensiones" formControlName="dimensions"/>
        </p-inputGroup>
    </div>
    <div>
        <p-inputGroup >
          <p-inputGroupAddon>
            <i class="pi pi-wave-pulse"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="estado" formControlName="status" />
        </p-inputGroup>
    </div>
    <br>
    <p-button (click)="create()" severity="success">
        Agregar
    </p-button>
  </form>
</div>

-->